<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">О НАС</h2>
                <hr class="light">
                <p class="text-faded">Предприятие "E-motors" производит капитальный ремонт электродвигателей и генераторов всех типов общепромышленного назначения, крановых и лифтовых электродвигателей, металлургических, двигателей постоянного тока, синхронных электродвигателей, высоковольтных электромашин, включая гидротолкатели, электродвигатели и генераторы импортного производста, мощностью от 0,18 киловатт до 1000 киловатт, с рабочим напряжением от 24 вольт до 10000 вольт.</p>
                <a href="#" class="btn btn-default btn-xl">На главную</a>
            </div>
        </div>
    </div>
</section>
